<h1>Home Page</h1>
<ul>
    <li><%= link_to "Create a user first, remember your user_id",  new_user_path %></li>
    <li><%= link_to "Then create a blogpost, remember your user_id",  new_blog_path %></li>
    <li><%= link_to "Then add a comment in the show page, remember your user_id",  blogs_path %></li>
</ul>